<%- include('layout.ejs'); %>
<div class="container mAuto">
<div class="row justify-content-center">
	<table class="table table ">
	<thead class="thead-dark">
	  <tr>
		<th class="text-center border border-dark align-middle " scope="col">CNPJ</th>
		<th class="text-center border border-dark align-middle" scope="col">Razão Social</th>
		<th class="text-center border border-dark align-middle" scope="col">Data da Consulta</th>
		<th class="text-center border border-dark align-middle" scope="col">Valor unitário da cota</th>
		<th class="text-center border border-dark align-middle" scope="col">Números de cotas</th>
		<th class="text-center border border-dark align-middle" scope="col">Preço médio</th>
		<th class="text-center border border-dark align-middle" scope="col">Retorno da operação</th>
		<th class="text-center border border-dark align-middle" scope="col">Saldo de aplicação no Fundo</th>
	  </tr>
	</thead>
	<tbody class="border">
	  <tr>
		<td class="text-center border border-dark text-nowrap align-middle" scope="row"><%=responseJson.cnpj%></td>
		<td class="text-center border border-dark align-middle"><%=responseJson.razaoSocial%></td>
		<td class="text-center border border-dark align-middle"><%=responseJson.dataConsulta%></td>
		<td class="text-center border border-dark align-middle"><%='R$'+responseJson.valorUnitario%></td>
		<td class="text-center border border-dark align-middle"><%=responseJson.numeroCotas%></td>
		<td class="text-center border border-dark align-middle"><%='R$'+responseJson.valorMedio.toFixed(2)%></td>
		<td class="text-center border border-dark align-middle"><%=(responseJson.retorno *100).toFixed(2)+'%'%></td>
		<td class="text-center border border-dark align-middle"><%='R$'+responseJson.saldo%></td>
	  </tr>
	</tbody>
  </table>
</div>
	<%- include('footer.ejs'); %>
</body>
</html>

